<form class="password-reset-form" (ngSubmit)="onSubmit()" [formGroup]="passwordResetForm">

  <mat-form-field class="input">
    <input matInput placeholder="Email" [formControlName]="'email'">
    <mat-error *ngIf="passwordResetForm.get('email').hasError('email')">
      Bitte geben Sie eine gültige Email Adress an
    </mat-error>
    <mat-error *ngIf="passwordResetForm.get('email').hasError('required')">
      Bitte geben Sie Ihre Email Adresse an
    </mat-error>
  </mat-form-field>

  <button class="no-hover-bg sandy-button" [disabled]="!passwordResetForm.valid" type="submit" mat-button>Neues Passwort erstellen</button>

</form>