

<form class="change-password-form" (ngSubmit)="onChangePassword()" [formGroup]="changePasswordForm">


    <mat-form-field class="input">
      <input matInput type="password" placeholder="Passwort (alt)" [formControlName]="'passwordOld'">
      <mat-error *ngIf="changePasswordForm.get('passwordOld').hasError('required')">
        Bitte geben Sie Ihre altes Passwort an
      </mat-error>
    </mat-form-field>


    <mat-form-field class="input">
      <input matInput type="password" placeholder="Passwort (neu)" [formControlName]="'passwordNew1'">
      <mat-error *ngIf="changePasswordForm.get('passwordNew1').hasError('required')">
        Bitte geben Sie Ihre neues Passwort an
      </mat-error>
      <mat-error *ngIf="!changePasswordForm.get('passwordNew1').hasError('required') && changePasswordForm.get('passwordNew1').hasError('passWeak')">
        Das Passwort muss Klein- und Großbuchstaben sowie Zahlen enthalten
      </mat-error>

    </mat-form-field>


    <mat-form-field class="input">
      <input matInput type="password" placeholder="Neues Passwort wiederholen" [formControlName]="'passwordNew2'">
      <mat-error *ngIf="changePasswordForm.get('passwordNew2').hasError('required')">
        Bitte wiederholen Sie Ihr Passwort
      </mat-error>
      <mat-error *ngIf="!changePasswordForm.get('passwordNew2').hasError('required') && changePasswordForm.get('passwordNew2').hasError('noMatch')">
        Die Passwörter stimmen nicht überein
      </mat-error>
    </mat-form-field>
  
  
    <button class="no-hover-bg sandy-button" [disabled]="!changePasswordForm.valid" type="submit" mat-button>Passwort ändern</button>

  </form>