

<form class="activate-reset-password-form" (ngSubmit)="onSubmit()" [formGroup]="activateResetPasswordForm">



  <mat-form-field class="input">
    <input matInput type="password" placeholder="Neues Passwort" [formControlName]="'password'">
    <mat-error *ngIf="activateResetPasswordForm.get('password').hasError('required')">
      Bitte geben Sie Ihre neues Passwort an
    </mat-error>
    <mat-error *ngIf="!activateResetPasswordForm.get('password').hasError('required') && activateResetPasswordForm.get('password').hasError('passWeak')">
      Das Passwort muss Klein- und Großbuchstaben sowie Zahlen enthalten
    </mat-error>

  </mat-form-field>


  <mat-form-field class="input">
    <input matInput type="password" placeholder="Neues Passwort wiederholen" [formControlName]="'password2'">
    <mat-error *ngIf="activateResetPasswordForm.get('password2').hasError('required')">
      Bitte wiederholen Sie Ihr Passwort
    </mat-error>
    <mat-error *ngIf="!activateResetPasswordForm.get('password2').hasError('required') && activateResetPasswordForm.get('password2').hasError('noMatch')">
      Die Passwörter stimmen nicht überein
    </mat-error>
  </mat-form-field>


  <button class="no-hover-bg sandy-button" [disabled]="!activateResetPasswordForm.valid" type="submit" mat-button>Passwort ändern</button>

</form>