

<div class="terms-of-service-wrapper">

    <div class="headline-0">Unsere AGBs</div>

    <div class="headline-1">§ 1 Grundlegende Bestimmungen</div>

    <div class="text">1) Die nachstehenden Geschäftsbedingungen gelten für Verträge die über htttp://www.vidamia-design.com geschlossen werden. Soweit nicht anders vereinbart, wird eigens von Ihnen verwendeten Bedingungen widersprochen.</div>
    
    <div class="text">2) Verbraucher im Sinne dieser Regelung ist jede natürliche Person, die ein Rechtsgeschäft mit privaten Anliegen abschließt.  Unternehmer ist jede natürliche oder juristische Person, die bei Abschluss des Rechtsgeschäfts im Sinne ihrer beruflichen oder gewerblichen Interessen handelt.</div>
    
    <div class="headline-1">§ 2 Zustandekommen des Vertrages</div>
    
    <div class="text">1) Vertragsgegenstand ist der Verkauf von Waren.</div>
    
    <div class="text">2) Mit der Bereitstellung eines Produktes in unserem Shop unterbreiten wir unseren Kunden ein verbindliches Angebot zum Abschluss eines Kaufvertrages.</div>
    
    <div class="text">3) Alle zum Kauf beabsichtigten Produkte werden vom Kunden im „Warenkorb“ abgelegt. Nach Eingabe der persönlichen Daten und Zahlungsinformationen hat der Kunde die Möglichkeit alle eingegebenen Informationen zu überprüfen. Mit dem Absenden der Bestellung durch Klick auf die dafür vorgesehene Schaltfläche erklärt der Kunde rechtsverbindlich die Annahme des Angebotes. Damit ist der Kaufvertrag zustande gekommen. Bei der Zahlungs-Option über Payment-Dienstleister wie PayPal oder Sofortüberweisung, wird der Kunde von unserem unserem Onlineshop auf die Webseite des Anbieters weitergeleitet. Nach Eingabe aller erforderlichen Daten wird der Kunde abschließend zurück in unseren Shop geleitet.</div>
    
    <div class="text">4) Die Übermittlung aller Informationen im Zusammenhang mit dem Vertragsschluss erfolgt automatisiert per E-Mail. Der Kunde hat daher sicherzustellen, dass die bei uns hinterlegte E-Mail-Adresse erreichbar ist.</div>
    
    <div class="headline-1">§ 3 Eigentumsvorbehalt und Zurückbehaltungsrecht</div>
    
    <div class="text">1) Ein Zurückbehaltungsrecht kann vom Kunden nur dann ausgeübt werden, sofern es nicht Forderungen aus selbigem Vertragsverhältnis sind.</div>
    
    <div class="text">2) Bis zur vollständigen Zahlung des Kaufpreises bleibt die Ware Eigentum des Shop-Betreibers.</div>
    
    <div class="headline-1">§ 4 Bestimmungen zur Haftung</div>
    
    <div class="text">1) Für Schäden an Körper oder der Gesundheit haften wir uneingeschränkt, sowie in Fällen des Vorsatzes und grober Fahrlässigkeit. Weiterhin bei arglistigem Verschweigen eines Mangels und in allen anderen gesetzlich geregelten Fällen. Die Haftung für Mängel im Rahmen der gesetzlichen Gewährleistung ist der entsprechenden Regelung in unseren Kundeninformationen zu entnehmen.</div>
    
    <div class="text">2) Sofern wesentliche Vertragspflichten nicht erfüllt werden, ist die Haftung des Onlineshops bei leichter Fahrlässigkeit auf den vorhersehbaren, vertragstypischen Schaden beschränkt.</div>
    
    <div class="text">3) Bei der Verletzung unwesentlicher Pflichten die aus dem Vertrag hervorgehen, ist die Haftung bei leicht fahrlässigen Pflichtverletzungen ausgeschlossen.</div>
    
    <div class="text">4) Es erfolgt keine Haftung für die stetige Verfügbarkeit dieser Website und der darauf angebotenen Waren.</div>
    
    <div class="headline-1">§ 5 Rechtswahl</div>
    
    <div class="text">1) Es gilt deutsches Recht. Die Bestimmungen des UN-Kaufrechts finden ausdrücklich keine Anwendung.</div>
    
    <div class="headline-1">§ 6 Streitbeilegung</div>
    
    <div class="text">1) Die Europäische Kommission stellt für die außergerichtliche Online-Streitbeilegung eine Plattform bereit (OS-Plattform), die unter http://ec.europa.eu/odr abrufbar ist.</div>
    
    <div class="headline-1">§ 7 Vertragssprache, Vertragstextspeicherung</div>
    
    <div class="text">1)  Vertragssprache ist deutsch.</div>
    
    <div class="text">2) Der vollständige Vertragstext wird von uns nicht gespeichert. Kunden können dies vor Absenden der Bestellung über die Druckfunktion des Browsers elektronisch sichern.</div>
    
    <div class="headline-1">§ 8 Preise und Zahlungsmodalitäten Merkmale der Waren</div>
    
    <div class="text">1) Die ausgewiesenen Preise sowie die Versandkosten stellen Brutto-Preise dar.</div>
    
    <div class="text">2) Versandkosten sind im Kaufpreis enthalten.</div>
    
    <div class="text">3) Die zur Verfügung stehenden Zahlungsmethoden sind auf unserer Webseite oder in der jeweiligen Artikelbeschreibung ausgewiesen, spätestens aber im abschließenden Bestellprozess. Soweit nicht anders angegeben, sind die Zahlungsansprüche aus dem Vertrag unmittelbar zur Zahlung fällig.</div>
    
    <div class="text">4) Die wesentlichen Merkmale der Ware und/oder Dienstleistung finden sich in der Artikelbeschreibung und den ergänzenden Angaben auf unserer Internetseite.</div>
    
    <div class="headline-1">§ 9 Lieferbedingungen</div>
    
    <div class="text">1) Lieferbedingungen, Lieferzeit sowie ggf. bestehende Beschränkungen zur Lieferung finden sich unter dem  entsprechend bezeichneten Link in unserem Onlineshop oder in der jeweiligen Artikelbeschreibung.</div>
    
    <div class="text">2) Für Verbraucher gilt, dass die Gefahr des zufälligen Untergangs oder der Verschlechterung der verkauften Ware während der Versendung erst mit der Übergabe der Ware an den Kunden übergeht. Die Regelung gilt unabhängig davon, ob die Versendung versichert oder unversichert erfolgt.</div>
    
    <div class="headline-1">§ 10 Gesetzliches Mängelhaftungsrecht</div>
    
    <div class="text">1) Die gesetzlichen Mängelhaftungsrechte haben bestand.</div>
    
    <div class="text">2) Verbraucher werden gebeten, die Ware bei Lieferung auf Vollständigkeit, offensichtliche Mängel und Transportschäden zu überprüfen und dem Shop-Betreiber schnellstmöglich mitzuteilen. Wird dem nicht vom Kunden nachgekommen hat dies keine Auswirkung auf seine gesetzlichen Gewährleistungsansprüche.</div>
    

</div>
