<div class="delivery-wrapper">

  <div class="headline-0">Lieferbedingungen</div>

  <div class="headline-1">Allgemein</div>
  <ul class="text">
    <li>Momentan liefern wir nur nach Deutschland, Österreich und die Scheiz</li>
  </ul>

  <div class="headline-1">Lieferkosten</div>
  <ul class="text">
    <li>Die Liefergebühren zu Ihnen nach Hause sind im Preis enthalten</li>
    <li>Falls Sie die Schuhe zurückgeben möchten, müssten Sie selbst die Liefergebühren für die Rücksendung übernehmen (da wir ein sehr kleines Unternehmen sind können wir Ihnen diesen Service leider noch nicht anbieten können) </li>
  </ul>

  <div class="headline-1">Lieferzeit</div>
  <ul class="text">
      <li>Die Lieferzeit beträgt ca. 3-4 Werktage</li>
      <li>Sollten Sie über Paypal bezahlt haben, sollten die Schuhe 3-4 Werktagen nach Ihrer Bestellung bei Ihnen Zuhause ankommen</li>
      <li>Sollten Sie per Vorkasse bestellt haben, warten wir zuerst den Eingang Ihrer Überweisung ab. Nach Bestätigung der Transaktion sollten die Schuhe in 3-4 Werktagen bei Ihnen Zuhause eintreffen.</li>
  </ul>


</div>
