
$global-max-width: 1200px;
$global-padding-left-right: 20px;
$change-padding-width: 1240px;


$color-1: rgb(247, 230, 133);
$color-1-opac: rgba(247, 230, 133, 0.5);
$color-2: #5b8137;
$color-2-opac: rgba(91, 129, 55, 0.8);
$color-3: #d2e2cf;
$color-4: #446653;
$color-5: #222424;
$color-6: rgba(255, 0, 0, 0.8);
$color-7: white;
$color-8: rgba(1, 1, 1, 0.1);
$color-9: rgba(247, 230, 133, 0.95);

$bb-1200: 1200px;
$bb-1000: 1000px;
$bb-700: 700px;
$bb-500: 500px;


$font-1: 'Dancing Script', cursive;
$font-2: 'PT Serif Caption', serif;
$font-3: 'Source Sans Pro', sans-serif;